* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Barlow;
  font-size: 32px;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #df2e2f;
  background-color: #e5e5e5;
}
header {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 15px;
  gap: 10px;
  margin: 5px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #2b7f87;
  padding: 15px;
  gap: 20px;
}
.logo {
  background: #f7d168;
  padding: 20px 40px;
  text-align: center;
}
.nav-link {
  background: #f7d168;
  padding: 20px;
  text-align: center;
  flex: 1;
}
.register {
  background: #f7d168;
  padding: 20px 40px;
  text-align: center;
}
.banner {
  padding: 20px;
  text-align: center;
  border: 20px solid #df2e2f;
}
.banner {
  background: #f7d168;
}
main {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 15px;
  gap: 10px;
  margin: 5px;
  height: auto;
}
.left-column {
  flex: 0 0 64%;
  display: flex;
  flex-direction: column;
  background: #2b7f87;
  padding: 20px;
  gap: 20px;
}
.right-column {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  background: #df2e2f;
  padding: 20px;
  gap: 30px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.article {
  flex: 0 0 48%;
  background: #f7d168;
  padding: 20px;
  text-align: center;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comment {
  background: #f7d168;
  padding: 20px;
  text-align: center;
}
.option {
  background: #f7d168;
  padding: 20px;
  text-align: center;
}
footer {
  background: black;
  padding: 15px;
  margin: 5px;
}
.contact {
  background: #f7d168;
  padding: 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  main {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  body {
    color: #2b7f87;
  }
  .navbar {
    flex-direction: column;
    background-color: #df2e2f;
  }
  .logo,
  .nav-link,
  .register {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
    background-color: #df2e2f;
  }
  .articles {
    flex-direction: column;
  }
  .blank {
    margin: 10px;
  }
  .comments {
    margin-top: 20px;
  }
  .banner {
    margin-top: 10px;
  }
  .right-column {
    margin-top: 10px;
  }
}
