* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Barlow;
  font-size: 32px;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #df2e2f;
}

header {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 10px;
  gap: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #2b7f87;
  padding: 15px;
  gap: 20px;
}

.logo {
  background: #f7d168;
  padding: 20px 40px;
  text-align: center;
}

.nav-link {
  background: #f7d168;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.register {
  background: #f7d168;
  padding: 20px 40px;
  text-align: center;
}

.banner {
  padding: 40px;
  text-align: center;
  border: 20px solid #df2e2f;
}

.banner {
  background: #f7d168;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: black;
  padding: 10px;
  gap: 10px;
}

.left-column {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  background: #2b7f87;
  padding: 20px;
  gap: 20px;
}

.right-column {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  background: #df2e2f;
  padding: 20px;
  gap: 30px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.article {
  flex: 0 0 48%;
  background: #f7d168;
  padding: 30px;
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment {
  background: #f7d168;
  padding: 30px;
  text-align: center;
}

.option {
  background: #f7d168;
  padding: 40px;
  text-align: center;
}

footer {
  background: black;
  padding: 10px;
}

.contact {
  background: #f7d168;
  padding: 30px;
  text-align: center;
}
