* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  margin: 10px;
  color: #df2e2f;
  font-weight: bold;
}
header {
  border: 15px solid black;
  margin: 5px;
  background-color: black;
}
.firstrowheader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
div {
  background-color: yellow;
  text-align: center;
}

.navbar {
  grid-column: span 3 / span 3;
}
.banner {
  grid-column: span 5 / span 5;
  border: 15px solid #df2e2f;
  margin-top: 15px;
}
.logo,
.navbar,
.registro {
  border: 15px solid #2a7f87;
}
main {
  border: 15px solid black;
  margin: 5px;
  background-color: black;
}
.main-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.art1 {
  grid-column: 1;
  border: 15px solid #2a7f87;
}
.art2 {
  grid-column: 2;
  border: 15px solid #2a7f87;
}
.art3 {
  grid-column: 1;
  grid-row: 2;
  border: 15px solid #2a7f87;
}
.art4 {
  grid-column: 2;
  border: 15px solid #2a7f87;
}
.coment1 {
  grid-column: 1 / span 2;
  border: 15px solid #2a7f87;
}
.coment2 {
  grid-column: 1 / span 2;
  border: 15px solid #2a7f87;
}
.option1 {
  grid-column: 3 / span 2;
  grid-row: 1;
  border: 15px solid #df2e2f;
  margin-left: 15px;
}
.option2 {
  grid-column: 3 / span 2;
  grid-row: 2;
  border: 15px solid #df2e2f;
  margin-left: 15px;
}
.empty1,
.empty2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  margin-left: 15px;
  border: 15px solid #df2e2f;
  background-color: #df2e2f;
}
footer {
  border: 15px solid black;
  margin: 5px;
  background-color: black;
}
